{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block page_content %}
<div class="row">
	<div class="col-lg-6">
	<a class="btn btn-info" href="{{ url_for('add_device') }}">添加新设备</a>
	</div>
<form class="form-inline" method="post" role="form">
	{{ form.hidden_tag() }}
	{{ wtf.form_errors(form, hiddens="True") }}
	<div class="col-lg-6">
	<div class="input-group">
	{{ form.id(class="form-control", placeholder="输入编号查询设备") }}
	<span class="input-group-btn">
	{{ wtf.form_field(form.submit) }}
	</span>
	</div>
	</div>
</form>
</div>
<!--用户列表-->
{% if devices %}
<table class="table table-striped table-condensed">
	<thead>
		<tr>
			<th>设备编号</th>
			<th>实验室名</th>
			<th>购置人</th>
            <th>购置时间</th>
            <th>购置人权限</th>
			<th></th>
		</tr>
	</thead>
	{% for dev in devices %}
	<tr {% if dev.role == admin %} class="danger" {% endif %}>
		<td>{{ dev.id }}</td>
		<td>{{ dev.lab }}</td>
        <td>{{ dev.name }}</td>
        <td>{{ dev.time }}</td>
        <td>{{ dev.user_id }}</td>
		<td>
			<a class="btn btn-danger btn-sm {% if dev.role==admin %} disabled {% endif %}" href="{{ url_for('remove_device', id=dev.id) }}">删除</a>
		</td>
	</tr>
	{% endfor %}
</table>
{% else %}
<p>看来没有符合条件的人</p>
{% endif %}
{% endblock %}